<ul class="content-column" style="width:200px;height:226px;left:0px;display:;">
        <li><a title="不限" href="javascript:;" class="content-column__item content-column__item--active">
                        不限</a></li>
        <li><a title="销售/商务拓展" href="javascript:;" class="content-column__item">
                        销售/商务拓展</a></li>
        <li><a title="人事/行政/财务/法务" href="javascript:;" class="content-column__item">
                        人事/行政/财务/法务</a></li>
        <li><a title="互联网/通信及硬件" href="javascript:;" class="content-column__item">
                        互联网/通信及硬件</a></li>
        <li><a title="运维/测试" href="javascript:;" class="content-column__item">
                        运维/测试</a></li>
        <li><a title="视觉/交互/设计" href="javascript:;" class="content-column__item">
                        视觉/交互/设计</a></li>
        <li><a title="运营/专业分析" href="javascript:;" class="content-column__item">
                        运营/专业分析</a></li>
        <li><a title="产品/项目/高级管理" href="javascript:;" class="content-column__item">
                        产品/项目/高级管理</a></li>
        <li><a title="市场/品牌/公关" href="javascript:;" class="content-column__item">
                        市场/品牌/公关</a></li>
        <li><a title="金融/保险" href="javascript:;" class="content-column__item">
                        金融/保险</a></li>
        <li><a title="房地产/工程/建筑" href="javascript:;" class="content-column__item">
                        房地产/工程/建筑</a></li>
        <li><a title="物流/采购/供应链" href="javascript:;" class="content-column__item">
                        物流/采购/供应链</a></li>
        <li><a title="生产制造/营运管理" href="javascript:;" class="content-column__item">
                        生产制造/营运管理</a></li>
        <li><a title="农业/能源/环保" href="javascript:;" class="content-column__item">
                        农业/能源/环保</a></li>
        <li><a title="医疗/医美/医务" href="javascript:;" class="content-column__item">
                        医疗/医美/医务</a></li>
        <li><a title="教育/培训/科研" href="javascript:;" class="content-column__item">
                        教育/培训/科研</a></li>
        <li><a title="编辑/记者/翻译" href="javascript:;" class="content-column__item">
                        编辑/记者/翻译</a></li>
        <li><a title="影视传媒" href="javascript:;" class="content-column__item">
                        影视传媒</a></li>
        <li><a title="商务服务/生活服务" href="javascript:;" class="content-column__item">
                        商务服务/生活服务</a></li>
        <li><a title="管培生/非企业从业者" href="javascript:;" class="content-column__item">
                        管培生/非企业从业者</a></li>
</ul>


<ul class="query-select-comp__list" style="display: none;" data-v-a8b1e050="">
        <li class="query-select-comp__list__item query-select-comp__list__item--active" data-v-a8b1e050=""><a
                        class="query-select-comp__list__item__a" data-v-a8b1e050="">不限</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">初中及以下</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">高中</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">中专/中技</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">大专</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">本科</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">硕士</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">MBA/EMBA</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">博士</a></li>
</ul>
<ul class="query-select-comp__list" style="display: none;" data-v-a8b1e050="">
        <li class="query-select-comp__list__item query-select-comp__list__item--active" data-v-a8b1e050=""><a
                        class="query-select-comp__list__item__a" data-v-a8b1e050="">不限</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">4K以下</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">4K-6K</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">6K-8K</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">8K-10K</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">10K-15K</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">15K-25K</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">25K-35K</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">35K-50K</a></li>
        <li class="query-select-comp__list__item" data-v-a8b1e050=""><a class="query-select-comp__list__item__a"
                        data-v-a8b1e050="">50K以上</a></li>
</ul>